.removeBullets {
  text-decoration: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  list-style-type: none;
  color: #140532;
  /*list-style-type: upper-roman;*/
  /* margin-left: 10px; */
}

.trashButton {
  background-color: transparent;
  border: none;
}

.Customize {
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 800px) {
      .Customize {
        grid-template-columns: 1fr
      }
      .Customize div {
        padding-bottom: 40px;
      }
}

.CustomizeTopLeftDiv {
position: relative;
padding-left: 20px;
background-color: #282E35;
padding: 10px;
border-top: 50px solid #282E35;
/*border: 10px solid #1F2225;
border-top: 50px solid #1F2225;*/
border-radius: 15px;
}
.CustomizeTopRightDiv {
  padding-right: 20px;
}

.categoryListElement {
  /* margin-bottom: 0px; */
  /* border: 1px solid;
  border-radius: 5px; */
  color: white;
}
.categoryHeaderElement {
margin-bottom: 10px;
/* background-color: aquamarine; */
padding: 10px;
/* border: 2px solid; */
border-radius: 5px;
color: black;
}

.categoryHeaderElement.Selected {
  border: 1px solid white;
}

.addColumnElement {
  border: 'none';
  padding: 0;
  background: 'none';
  color: 'black';
  font: 'inherit';
  cursor: 'pointer';
  outline: 'inherit';
  align-items: 'left';
  justify-content: 'left';
  text-align: 'left';
  background-color: 'white';
  padding: 10px;
  margin-bottom: 0px;
  }

.labelingFnElement {
  /* background-color: red; */
  color: white;
}

.categoriesOuterDiv {
/* border: 1px solid;
border-radius: 5px; */
/* padding: 10px; */
max-height: 400px;
background-color: #282E35;
border-radius: 10px;
}

.categoriesInnerDiv1 {
  overflow-y: scroll;
  overflow-x: scroll;
  max-height: 350px;
}

.categoriesInnerDiv2 {
  color: black
}

.textInputDataCustomizeAddCategory {
  margin: 5px;
  height: 30px;
  max-width: 150px;
  color: black;
  z-index: 2;
}

.addCategoryElementWithMargin {
  margin-top: 20px;
}

.addCategoryElement {
  font-size: 20px;
  cursor: pointer;
}


.lfPreview {
border-radius: 10px;
background-color: #1F2225;
/* background-color: #1F2225; */
/* background-color: #171d26; */
border: 1px solid white; /* 0038b8*/
display: grid;
place-items: center;
grid-template-rows: 1fr;
grid-template-columns: 1fr;
align-items: center;
text-align: center;
padding: 8px 15px;
/* margin: 20px 0px; */
/* height: 100%;
width: 100%; */
min-height: 133px;
margin-left: 10px;
margin-bottom: 10px;
}
.lfPreviewTitle {
color: #defe47;
}
.lfPreviewFnText {
color: white;
font-size: 20px;
}


.classifyAffirmativelyYes {
/* background-color: red; */
background-color: #171d26;
}

.categoryExpandArrow {
  float: right;
  margin-right: 10px;
}

.CustomizeTable {
  font-family: Arial, Helvetica, sans-serif;

display: block;
height: 80vh;
overflow-y: scroll;
overflow-x: scroll;
border-radius: 5px;
border-collapse: collapse;
}

.CustomizeTable td, .CustomizeTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

.CustomizeTable tr:nth-child(odd){background-color: #E6E6FF;}

.CustomizeTable tr:nth-child(even){background-color: #FFFFFF;}


.CustomizeTable tr:hover {background-color: #ddd;}

.CustomizeTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  /* padding-left: 60px; */
  text-align: left;
  /* background-color: #280F96; */
  color: white;
}

.CustomizeTable tr.firstRow {
position: sticky;
top: 0;
z-index: 1;
border-radius: 5px;
}

.CustomizeTable tr.lastRow {
  position: sticky;
  bottom: 0;
  z-index: 1;
}

.CustomizeTable {
  color: white;
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 24px;
  position: relative;
}

.CustomizeTable tr.firstRow {
  /* background-color: #0038b8; */
background-color: #171d26;

}

.CustomizeTable tr.lastRow {
  background-color: #171d26;
}

.Customize {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

@media (max-width: 1200px) {
.Customize {
    grid-template-columns: 1fr;
  }
}

.CustomizeTopDiv {
  /* background-color: #171d26; */
  color: white;
  padding: 10px;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 3fr 5fr;
  column-gap: 50px;
}
@media (max-width: 900px) {
  .CustomizeTopDiv {
    grid-template-columns: 1fr;
  }
}

.CustomizeTable a {
  color: white;
}


.CustomizeTopRightDiv {
display: grid;
grid-template-columns: 1fr;
background-color: #282E35;
border: 10px solid #1F2225;
border-top: 50px solid #1F2225;
border-radius: 15px;
color: white;
min-height: 350px;
}
.CustomizeTopRightDiv {
position: relative;
}
.CustomizeTopRightDiv-Inner1 {
color: white;
position: absolute;
top: -53px;
left: 15px;
pointer-events: none;
}

.CustomizeTopRightDiv-Inner1 {
display: grid;
grid-template-columns: 1fr;
place-items: left;
align-items: left;
text-align: left;
}

.CustomizeTopLeftDivCategoriesTitle {
color: white;
position: absolute;
top: -53px;
left: 15px;
display: grid;
grid-template-columns: 1fr;
place-items: left;
align-items: left;
text-align: left;
}

.CustomizeTopRightDiv-Inner2 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: left;
align-items: left;
text-align: left;
}

.CustomizeTopRightDiv-Inner3 {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
place-items: center;
align-items: center;
text-align: center;
margin: 20px 0px;
margin-bottom: 60px;;
}

/* .CustomizeTopRightDiv-Inner4 {
display: grid;
grid-template-columns: 5fr 1fr;
place-items: center;
align-items: center;
text-align: center;
}

.CustomizeTopRightDiv-Inner4-Inner2 {
display: grid;
grid-template-columns: 1fr;
place-items: center;
align-items: center;
text-align: center;
} */
.CustomizeTopRightDiv-Inner4 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35px 2fr;
  row-gap: 10px;
  place-items: center;
  align-items: center;
  text-align: center;
  width: 85%;
  }

  .CustomizeTopRightDiv-Inner4-Top {
    display: grid;
    grid-template-columns: 100px 8fr 5fr;
    width: 100%;
    place-items: center;
    align-items: center;
    text-align: center;
  }

  .CustomizeTopRightDiv-Inner4-Top-1 {
    /* margin-right: 80vh; */
    grid-column: 1;
    font-weight: normal;
  }
  .CustomizeTopRightDiv-Inner4-Top-2 {
    /* margin-right: 80vh; */
    grid-column: 3;
    display: flex;
  }

  .CustomizeTopRightDiv-Inner4-Inner2 {
    display: grid;
    /* grid-template-columns: 17fr 3fr; */
    width: 100%;
    height: 100%;
  }

.inputStringLabelingFn {
  /* Add some styling to make the input look like a select element */
  /* border: 1px solid #ccc; */
  border: 1px solid #333;
  border-radius: 4px;
  font-size: 16px;
  margin-top: 10px;
  padding: 8px 10px;
}

.inputStringLabelingFn:hover, .inputStringLabelingFn:focus {
  border-color: #333;
  /* border-color: #ccc; */
  outline: none;
}

.addLabelingFunctionButton {
  padding: 5px;
  background-color: #171d26;
  cursor: pointer;
}

.addLabelingFunctionButton:disabled,
.addLabelingFunctionButton[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: white;
  pointer-events: not-allowed;
  /* display: none; */
  visibility: hidden;
}

.addLabelingFunctionButton:enabled,
.addLabelingFunctionButton[enabled]{
  border: 1px solid #999999;
  background-color: #171d26;
  color: white;
  cursor: pointer;
}

.labelingFnParameterNotDiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  align-items: center;
  text-align: center;
  grid-column: 3;
  font-size: 14px;
  margin-right: 8px;
}
.labelingFnParameterNotDiv h2 {
  font-weight: normal;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

.formContainer {
  display: flex;
  align-items: center; /* Align items vertically in the center */
}

/* Adjust the margin, padding, and other styles as needed for your layout */
.textInputData,
.switchContainer,
.trashButton {
  margin-right: 10px; /* Add spacing between the elements */
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switchNew {
  display: flex; /* Create a flex container */
  align-items: center; /* Vertically center the flex items */
}

.switchNew h4 {
  margin-left: 8px; /* Optional: Add some spacing between the slider and the text */
}

.switch {
  display: flex;
  align-items: center;
  gap: 20px;
}

.switch input[type="checkbox"] {
  margin-right: 16px; /* Optional: Add some spacing between the checkbox and the slider */
}

.slider {
  margin-left: 0px; /* Optional: Add some spacing between the slider and the text */
}



/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #171d26;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: gray;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(18px);
  -ms-transform: translateX(18px);
  transform: translateX(18px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 600px) {
  .inputStringLabelingFn, .textInputDataCustomizeAddCategory {
    max-width: 90px;
  }
}

.noCategoriesMessage {
  color:white;
}

.tableElementGrid {
  display: grid;
  grid-template-columns: 27px 1fr;
}
.categoryOval {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  /* display: inline-block; */
}

.connectorButton {
  width: 200px;
}

.MuiTreeItem-root:hover {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content:hover {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content:hover > .MuiTreeItem-label {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content.Mui-selected {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content.Mui-selected:hover {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content.Mui-selected > .MuiTreeItem-label {
  background: transparent
}

.MuiTreeItem-root > .MuiTreeItem-content.Mui-selected.Mui-focused {
  background: transparent
}