.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .login {
    max-width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  .login h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }

  .login div {
    margin-bottom: 10px;
  }

  .login label {
    display: block;
    margin-bottom: 5px;
    color: #fff;
  }

  .login input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #666;
    background-color: #444;
    color: #fff;
  }

  .login button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  .login button:hover {
    background-color: #2980b9;
  }

  .login p {
    text-align: center;
    color: #fff;
  }

  .login a {
    color: #3498db;
    text-decoration: none;
  }

  .login a:hover {
    color: #2980b9;
  }