/* Basic page styling */
h3{
    color:white;
}
.abstractivetitle{
    font-size: 30px;
    font-weight: bolder;
    color: white;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
}
.customize{
    text-align: center;
}
.App{
    text-align: center;
}
.download{
    text-align: center;
}
.upload{
    text-align: center;
}
.annotate{
    text-align: center;
}

/* Container styling */
/* .upload {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
} */

/* Styling the main title */
/* .upload h1 {
    color: #fff;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 30px;
} */

/* Navigation bar styling */
/* nav {
    text-align: center;
    margin-bottom: 20px;
} */
/*
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
    margin-right: 20px;
} */

/* RedirectButton styling */
.redirectButton {
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* RedirectButton hover effect */
.redirectButton:hover {
    color: #defe47;
}
/* .redirectButton:active {
    border-bottom: 3px solid #defe47;
} */
.redirectButton.active {
    /* your active button style goes here, for example: */
    background-color: #008CBA; /* Blue */
    color: white;
}
/* Additional styles for the DisplayFile component can be added here if necessary */
