
    .scrollbar::-webkit-scrollbar {
      width: 5px;
    }
  
    .scrollbar::-webkit-scrollbar-track {
      background: #f1f1f1;
    }
  
    .scrollbar::-webkit-scrollbar-thumb {
      background: #008CBA;
    }
  
    .scrollbar::-webkit-scrollbar-thumb:hover {
      background: #555;
    }